<%

contacts = Contact.all


%>




<h1>contacts</h1>

<ul>

<% for contact in contacts%>
<li> Name: <%= contact.first_name%> <%= contact.last_name %> | Email: <%= contact.email %> | Mobile: <%= contact.phone_number %>
| Company: <%= Company.find_by("id" => contact.company_id)["name"] %>
</li>
<% end%>
</ul>
